<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<integer>0</integer>
		<key>Name</key>
		<string>动态</string>
		<key>Icon</key>
		<string></string>
		<key>Enabled</key>
		<true/>
		<key>Controller</key>
		<string>YHActivitiesViewController</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>1</integer>
		<key>Name</key>
		<string>文件夹</string>
		<key>Icon</key>
		<string></string>
		<key>Enabled</key>
		<true/>
		<key>Controller</key>
		<string>YHYunPanViewController</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>2</integer>
		<key>Name</key>
		<string>任务</string>
		<key>Icon</key>
		<string></string>
		<key>Enabled</key>
		<true/>
		<key>Controller</key>
		<string>YHTasksViewController</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>3</integer>
		<key>Name</key>
		<string>日历</string>
		<key>Icon</key>
		<string></string>
		<key>Enabled</key>
		<true/>
		<key>Controller</key>
		<string>YHRiChengViewController</string>
	</dict>
</array>
</plist>
